@font-face {
    font-family: "Retro";
    src: url(./fonts/PressStart2P-vaV7.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Retro', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}


body {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, rgb(51, 51, 51), black);
    background-attachment: fixed;
    color: white;
    font-family: 'Retro', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.main-container {
    position: relative;
    margin: 0 auto;
    height: 350px;
    width: 350px;
}

.title {
    text-align: center;
    font-size: xx-large;
    padding: 5px 0 5px 0;
    color: white;
    text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 1em 1em rgb(51, 51, 51), 0 0 0.2em rgb(20, 20, 22);
}

.viewport {
    background-color: rgb(51, 51, 51);
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 20px 10px black;
}

.scores {
    position: absolute;
    font-size: x-large;
    height: 100%;
    width: 100%;
    top: 70px;
}

.recordScore {
    padding-left: 10px;
    position: absolute;
    font-size: medium;
    height: 100%;
    width: 100%;
    top: 350px;
}

.scoreItem {
    text-align: left;
    list-style-type: none;
    font-size: 0.8rem;
    margin-left: 90px;
}


.scores-title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.messages {
    text-align: center;
    position: absolute;
    font-size: small;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    max-width: 200px;
    min-width: 190px;
    min-height: 100px;
    color: white;
    top: 200px;
    left: 75px;
    background-color: black;
    opacity: 90%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
    z-index: 2;
}

.highscore {
    height: 260px;
    text-align: center;
    display: block;
    color: black;
    background-color: rgb(51, 51, 51);
}

.control-button {
    border: none;
    border-radius: 20%;
    box-shadow: 2px 4px #666;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    box-shadow: 1px 1px 2px 2px black;
}

.up {
    grid-area: arrowup;
}

.left {
    grid-area: arrowleft;
}

.right {
    grid-area: arrowright;
}

.down {
    grid-area: arrowdown;
}

.active-arrow {
    background-color: green;
    box-shadow: none;
}

.touch {
    border-radius: 10px;
    position: absolute;
    font-size: x-large;
    color: white;
    height: 150px;
    background-color: rgb(51, 51, 51);
    box-shadow: 10px 10px 20px 10px black;
    width: 200px;
    top: 400px;
    left: 75px;
    place-self: center;
    grid-auto-rows: minmax(30px, auto);
    place-self: center;
    display: grid;
    grid-template-areas:
        '. arrowup .'
        'arrowleft . arrowright'
        '. arrowdown .';
    gap: 1px;
    padding: 10px 10px 10px 10px;
}

.btn-restart {
    font-family: 'Retro', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    margin-left: 30px;
    width: 80%;
    height: 20px;
}